html,
body {
    margin: 10px 10px 10px 10px;
    background-image: linear-gradient(to bottom right, #95d9f9, #f6eef8);
}

h1 {
    text-align: center;
    border-bottom: 2px solid #3009e0;
    color: #ff00ff;
    margin-top: 370px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: #2f9e79;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: rgb(41, 68, 219);
}